<div class="sticky-header">
  <div class="header-section">
    <a href="">Download App</a>
    <a href="">Become a Partner</a>
  </div>
  <div class="header-section">
    <div style="color: white; font-size: 1.5rem">
      FRONTEND <span style="color: #e92051">TEST</span>
    </div>
  </div>
  <div class="header-section">
    <div style="margin-top: 0.4rem">
      <mat-icon style="color: white">search</mat-icon>
    </div>
    <a href="" style="margin-top: 0.6rem">Sign Up</a>
    <button mat-raised-button color="accent">Login</button>
  </div>
</div>
