<div class="footer-container">
  <div class="footer-section">
    <div style="font-size: 1.4rem">
      <strong>FRONTEND</strong> <span style="color: #e92051"> TEST</span>
    </div>
    <div style="font-size: 0.8rem">Hey.. Good luck</div>
  </div>
  <div class="footer-section">
    <div class="section-title">Our Services</div>
    <div style="font-size: 0.7rem">Our services</div>
    <div style="font-size: 0.7rem">Tracking</div>
    <div style="font-size: 0.7rem">Terms of service</div>
  </div>
  <div class="footer-section">
    <div class="section-title">Our Company</div>
    <div style="font-size: 0.7rem">Orders</div>
    <div style="font-size: 0.7rem">Get in touch</div>
    <div style="font-size: 0.7rem">Managament</div>
  </div>
  <div class="footer-section" style="color: #707070">
    <div class="section-title" style="color: white">Address</div>
    <div style="font-size: 0.5rem">121 King St. 12 BGF Dubai</div>
    <div style="font-size: 0.5rem">554-512-122</div>
    <div style="font-size: 0.5rem">info@test.com</div>
  </div>
</div>
